```env
# Server
PORT=5500
SERVER_URL=http://localhost:5500

# Database
DB_URI=your_database_url

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

# Arcjet
ARCJET_KEY=your_arcjet_key
ARCJET_ENV=development

# Upstash
QSTASH_URL=your_qstash_url
QSTASH_TOKEN=your_qstash_token
```